<div class="card mb-3">
  <h2 class="card-header h4">
    Listing #<%= listing.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Seller</dt>
      <dd>
        <% if @listing.seller.present? %>
          <%= link_to listing.seller, listing.seller %>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= listing.title %></dd>

      <dt>Listing title</dt>
      <dd><%= listing.listing_title %></dd>

      <dt>Price</dt>
      <dd><%= listing.price %></dd>

      <dt>Category</dt>
      <dd><%= listing.category %></dd>

      <dt>Location</dt>
      <dd>
        <div>
          <%= render partial: "listings/one_photo_map" %>
        </div>
      </dd>

      <dt>Status</dt>
      <dd><%= listing.status %></dd>

      <dt>Buyer</dt>
      <dd><%= listing.buyer_id %></dd>

      <dt>Picture</dt>
      <dd>
        <%= cl_image_tag @listing.picture, class: "img-fluid" %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back listing, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @listing.seller %>
          <%= link_to edit_listing_url(listing), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @listing.seller %>
          <%= link_to listing, method: :delete, data: { confirm: "Do you really want to delete this listing?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(listing.updated_at) %> ago
  </div>
</div>
