<%= form_with(model: @message, local: true) do |f| %>

  <%= f.hidden_field :listing_id, value: @listing.id %>

  <div class="form-group">
    <%= f.label :prospective_buyer_id %>

    <%= f.collection_select :prospective_buyer_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
