<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :listing_id %>

    <%= f.collection_select :listing_id, Listing.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :prospective_buyer_id, value: @user.id %>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
