<%= form_with(model: @listing, local: true) do |f| %>

  <%= f.hidden_field :seller_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :listing_title %>

    <%= f.text_field :listing_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>

    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>

    <%= f.text_field :category, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :buyer_id %>

    <%= f.text_field :buyer_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :picture %>

    <%= f.file_field :picture, class: "form-control" %>
  </div>

  <%= f.submit "Create listing", class: "btn btn-block btn-outline-secondary" %>
<% end %>
